
/* Fonts */

@font-face {
    font-family: "HelveticaRounded"; /* Specify your desired font-family name */
    src: url("resc/HelveticaRoundedLTStd-Bd.ttf") format('truetype'); /* Path to your TTF font file */
    font-weight: normal;
    font-style: normal;
}

/* Set Padding and Margins for site to a base of 0px */

*
{
    font-family: HelveticaRounded;
}

html, body
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #F9F1C8;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

ul {

    width: 100%;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li a 
  {

    float: right;

    display: inline-block;
    color: white;

    text-align: center;

    padding: 0px 20px;

    text-decoration: none;

  }

  li a:hover
  {
    color: #F9F1C8;

  }

.navigation-bar
{
    background-color: #221916;

    width: 100%;
    height: 120px;

    position:relative;
}

.brand-logo
{
    width: 200px;
    height: 85px;

    margin-left: 17px;

    top: 50%;
    transform: translate(0px, -50%);

    position: absolute;
    display: inline-block;

}

.parent-block
{
    background-color: #F8CC2F;

    padding: 5;

    width: 100%;
    height: 500px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center; 

    border-radius: 5px;

}

.child-block
{
    background-image: url("resc/testicon.jpeg");
    background-size: cover;

    background-color: black;

    position:relative;

    margin: 10px;
    box-sizing: border-box;

    width: 300px;
    height: 300px;

    border-radius: 5px;


    overflow: hidden;
}

.child-title
{
    background-color: black;
    color: aliceblue;

    position:absolute;

    padding: 5px 10px;

    width: 100%;
    height: 80px;

    top: 220;
    margin-bottom: 0px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}