
/* Fonts */

@font-face {
    font-family: "HelveticaRounded"; /* Specify your desired font-family name */
    src: url("resc/HelveticaRoundedLTStd-Bd.ttf") format('truetype'); /* Path to your TTF font file */
    font-weight: normal;
    font-style: normal;
}

/* Set Padding and Margins for site to a base of 0px */

html, body
{

    padding: 0px;
    margin: 0px;
}

/* Set default background color for page */

body
{
    background-color: black
}

/* Custom color definitions */

.bg-nav{background-color: black;}

/* Make a 16 : 9 area that scales the image based on the browser width */

div.banner-16x9
{
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

div.current-banner
{
    background-image: url(resc/dynopunch-banner-fall-2023.jpg);
}

img.aspect-ratio-16x9
{
    /* Make the image fill the container */
    width: 100%;

    /* Position the image absolutely within the container */
    position: absolute;
    top: 0;
    left: 0;
}

/* Banner selection Container */

div.banner-selection-bar
{
    width: 100%;
    height: 36px;
}

/* Title Card Right */

div.title-card-right
{
    font-family: "HelveticaRounded";
    color: white;

    line-height: 80px;
    height: 80px;
    

    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 36%, rgba(51,51,51,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 36%, rgba(51,51,51,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 36%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#333333",GradientType=1);
}

/* Title Card Left */

div.title-card-left
{
    font-family: "HelveticaRounded";
    color: white;

    line-height: 80px;
    height: 80px;
    
    background: rgb(2,0,36);
    background: -moz-linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 36%, rgba(51,51,51,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 36%, rgba(51,51,51,1) 100%);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 36%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#333333",GradientType=1);
}

/* Information Area One */

div.info-area-one
{
    height: 200px;

    background-color: #F8CC2F;
}

/* Information Area Two */

div.info-area-two
{
    height: 200px;

    background-color: #F8CC2F;
}