
/* Fonts */

@font-face {
    font-family: "HelveticaRounded"; /* Specify your desired font-family name */
    src: url("resc/HelveticaRoundedLTStd-Bd.ttf") format('truetype'); /* Path to your TTF font file */
    font-weight: normal;
    font-style: normal;
}

.float-clear::after
{
    content: "";
    display: table;
    clear: both;
}

/* Set Padding and Margins for site to a base of 0px */

*
{
    font-family: HelveticaRounded;
}

html, body
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-image: url("resc/BACKGROUND_stars.png");
    background-repeat: repeat;
    background-size: 10%;
    background-attachment: fixed;
}

p
{
    margin: 0px;
}

.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers items vertically in the navbar */
    background-color: #333;
    padding: 10px;
}

.logo {
    width: 130px; /* Adjust size as needed */
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ddd;
}

.intro-container
{
    background-color: red;
    background-image: url("resc/shoko.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-x: -125px;
    background-position-y: -50px;
    width: 100%;
    height: 1080px;
    
}

.intro-text-section
{
    margin: 0px;
    width: 50%;
    height: 100%;

    float: right;
    font-size: 20px;

    display: flex;
    align-items: center; /* Center vertically */
    
}

.intro-paragraph
{
    text-align: center;
}

.button-container
{
    background-color: white;
    width: 100%;

    padding: 20px;
}

.contact-container
{
    background-color: yellow;
    width: 100%;

    padding: 20px;
}

.ending-note-container
{
    background-color: yellowgreen;
    width: 100%;
    padding: 20px;

}

.ending-note-image
{
    background-color: aquamarine;
    width: 100px;
    height: 100px;

    margin: 20px;
}

.footer-container
{
    background-color: #333;
    width: 100%;
    height: 200px;
}

.text-center
{
    text-align: center;
}

.button
{
    background-color: bisque;
    width: 300px;
    height: 100px;
    border-radius: 30px;

    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 0px;

    margin: 20px;
}

.button-set
{
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Centers content vertically */
}