
/* Fonts */

@font-face {
    font-family: "HelveticaRounded"; /* Specify your desired font-family name */
    src: url("resc/HelveticaRoundedLTStd-Bd.ttf") format('truetype'); /* Path to your TTF font file */
    font-weight: normal;
    font-style: normal;
}

/* Set Padding and Margins for site to a base of 0px */

*
{
    font-family: HelveticaRounded;
}

html, body
{
    padding: 0px;
    margin: 0px;
}

/* Add this code in a separate file named styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers items vertically in the navbar */
    background-color: #333;
    padding: 10px;
}

.logo {
    width: 100px; /* Adjust size as needed */
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ddd;
}